<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cuisine List</title>
</head>
<body>
  <div class='container'>
  <h2>Flight List</h2><br>
  <table id='list'>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight No.</th>
        <th>Departure Date</th>
        <th>Now onAir</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.onAir ? 'Yes' : 'No' %></td>    
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/flights/new">Add a Flight</a>
  </div>
</body>
</html>