<%- //include('../partials/header') %>
  <table id='list'>
    <thead>
      <tr>
        <th>Airline</th><br><br>
        <th>Flight No.</th>
        <th>Origin</th>
        <th>Departure Date</th>
        <th>In Air</th>
      </tr>
    </thead>
    <br>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.origin %></td>
          <td><%= f.departs %></td>
          <td><%= f.onAir ? 'Yes' : 'No' %></td>    
          <td><a href="/flights/<%= f._id %>">Details</a></td>
          <td>
            <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/flights/new">Add a Flight</a> 
  </div> 
</body>
</html>