<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">

<section id="show-page">
  <h2>Flight Details</h2>
  <div>Airline: </div>
  <div><%= f.airline %></div>
  <div>Flight No: </div>
  <div><%= f.flightNo %></div>
  <div>Departs: </div>
  <div><%= f.departs %></div>
  <div>onAir: </div>
  <div><%= f.onAir ? 'Yes' : 'No' %></div>
</section>
<br><br><h2>Destination</h2>
<form id="destination" method="POST"
action ="/flights/<%=flight._id %>/destination">
<label>Destination:</label>
<select name="destination airport">
  <option value="AUS">AUS</option>
  <option value="DFW">DFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SFO">SFO</option>
</select>
<input type="submit" value="Add Destination">
</form>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Arrival Date</th>
      </tr>
  </thead>
  <tbody>
    <% flight.destination.forEach(function(d) { %>
      <tr>
        <td><%= d.destination) %></td>
        <td><%= d.arrives %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
