<!DOCTYPE html>
<html lang="en">

<section id="show-page">
  <h2>Flight Details</h2>
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <div>onAir: </div>
  <div><%= flight.onAir ? 'Yes' : 'No' %></div>
</section>
<br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
action ="/flights/<%= flight._id %>/destination">
<label>Destination:</label>
<select name="destination">
  <option value="AUS">AUS</option>
  <option value="DFW">DFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SFO">SFO</option>
</select>
<input type="submit" value="Add Destination">
</form>
 <% //if(flight.destination.length) { %>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Arrival Date</th>
      </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(f) { %>
      <tr>
        <td><%= f.destination %></td>
        <td><%= f.arrives %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% //} else { %>
  <!-- <h4>No Destination Yet</h4> -->
<%// } %>
